@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container{
    width: 1170px;
}
body{
    font-family: "Open Sans", sans-serif;
}
header nav{
    background: #3b3a3a;
    font-family: "Open Sans", sans-serif;
}
header nav ul{
    display: flex;
    gap: 40px;
}
header nav ul li a{
    color: #FFFFFF !important;
    font-size: 20px;
}
ul li .nav-link:hover{
    color: #D6A033 !important;
}
.dropdown-item{
    color: #3b3a3a !important;
}
header nav .nav__btn{
    padding: 14px 28px;
    color: #FFFFFF;
    background: #D6A033;
    border: none;
}
#bannar{
padding: 208px 0;
background: #3b3a3a;
}
#bannar .text__area h2{
    font-size: 64px;
    font-weight: 800;
    color: #D6A033;
    font-family: "Playfair Display", serif;
    margin-bottom: 16px;
}
#bannar .text__area h1{
    color: #F5F2EB;
    font-size: 64px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
#bannar .text__area p{
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #F5F2EB;
    max-width: 600px;
    font-family: "Abel", sans-serif;
    margin-bottom: 92px;
}
#bannar .text__area button{
    font-size: 20px;
    font-weight: 800;
    padding: 14px 28px;
    color: #FFFFFF;
    background: #D6A033;
    border: none;
}
#bannar .bannar__img{
    position: relative;
}
#bannar .bannar__img img{
    position: absolute;
    width: 380px !important;
    top: 50%;
    right: -100px;
}
/* ============service__content css============= */
#service__content{
    padding: 100px 0;
    background: #FDFDFD;
}

.service__content__text h2{
    color: #363024;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
}
.service__content__text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #524D43;
    max-width: 470px;
    font-family: "Abel", sans-serif;
    margin-bottom: 92px;
}
.service__content__text button{
    font-size: 20px;
    font-weight: 800;
    padding: 14px 28px;
    color: #FFFFFF;
    background: #D6A033;
    border: none;
}
/* ================service css=============== */
#service{
    padding: 100px 0;
    background: #FDFDFD;
}
#service .service__title{
    text-align: center;
}
.service__title h2{
    font-size: 48px;
    font-weight: 800;
    color: #363024;
    margin-bottom: 20px;
}
.service__title p{
    font-size: 18px;
    font-weight: 400;
    color: #524D43;
    line-height: 32px;
    max-width: 645px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.row__area{
    row-gap: 50px;
    column-gap: 146px;
}
.service__item{

}
.service__item .service__item__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.service__item__title h3{
    font-size: 28px;
    font-weight: 700;
    color: #363024;
}
.service__item__title h4{
    font-size: 28px;
    font-weight: 800;
    color: #D6A033;
}
.service__item p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #363024;
    max-width: 325px;
}
/* ================choose css============== */
#choose{
    padding: 100px 0;
    background: #FFFFFF;
}
.choose__title h2{
    font-size: 48px;
    font-weight: 800;
    color: #363024;
}
.choose__item{
    display: flex;
    gap: 24px;
    margin-top: 36px;
}
.choose__item img{
    width: 64px;
    height: 64px;
}
.choose__item__text h4{
    font-size: 28px;
    font-weight: 700;
    color: #363024;
    margin-bottom: 16px;
}
.choose__item__text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #524D43;
    width: 360px;
}
/* =============showcase css=============== */
#showcase{
    background: #181D21;
    padding-top: 120px;
    padding-bottom: 328px;
    position: relative;
}
.showcase__title{
    justify-content: space-between;
    align-items: center;
}
.showcase__title h2{
    color: #FBFBFA;
    font-size: 40px;
    font-weight: 700;
}
.showcase__title ul{
    display: flex;
    gap: 20px;
}
.showcase__title ul li {
    list-style-type: none;
}
.showcase__title ul li a{
    font-size: 22px;
    font-weight: 600;
    color: #FBFBFA;
    text-decoration: none;
}
.showcase__title ul li a:hover{
    color: #D6A033;
}
.showcase__img{
    position: absolute;
    top: 234px;
}

#products{
    padding: 150px 0;
}
.products__title{
    display: flex;
    justify-content: space-between;
}
.products__title h2{
    font-size: 48px;
    font-weight: 700;
    color: #363024;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #D6A033;
    color: white;
  }
  .products__item{
    margin-top: 64px;
    position: relative;
  }
  .products__item img{
    width: 100%;
  }
  .products__item .products__details{
    position: absolute;
    height: 100px;
    width: 100%;
    background: #FDF4E1;
    bottom: 0;
    border: none;
  }
  .products__item:hover .products__details{
    height: 134px;
    background: #D6A033;
  }
  .products__details h4{
    font-size: 22px;
    font-weight: 700;
    color: #181D21;
    margin: 20px 0;
  }
  .details__p{
    
  }